body {
  padding: 50px;
  background: url(wood.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: #00B7FF;
}

#mapid {
  height: 800px;
}
