body {
  text-align: center;
  padding: 150px;
  background: url(gray.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

image#header {
  width: 1000px;
}

input {
  resize: horizontal;
}

div#info {
  background-image: url(lightWood.jpg);
  background-size: inherit;
  background-attachment: initial;
  background-repeat: no-repeat;

  margin: 10px;
  padding: 10px;

  line-height: 40px;
  width: 800px;
}

a {
  color: #00B7FF;
}

#map {
  height: 800px;
  width: 800px;
  margin: 0 auto 0 auto;
}
